@import "tailwindcss";
@import "@repo/tailwind-config";
@import "@repo/ui/styles.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
  @apply w-[450px] m-0 flex flex-col min-h-screen rounded-lg overflow-hidden;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

#root {
  @apply pt-0 mt-0 w-full;
}

/* Hide scrollbar for all elements */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}
